In [1]:
import pandas as pd

Data from [Economic Tracker](https://tracktherecovery.org) and [the accompanying paper](https://opportunityinsights.org/wp-content/uploads/2020/05/tracker_paper.pdf)

In [37]:
df = pd.read_csv("../data/UI Claims - County - Weekly.csv", dtype={"countyfips":str, "initclaims_rate_regular":float})

In [38]:
df = df.filter(["countyfips", "initclaims_rate_regular"])

In [45]:
df = df.groupby(['countyfips']).sum().reset_index()

In [46]:
df.head()

  countyfips  initclaims_rate_regular
0       1001                  26.0512
1       1003                  30.8648
2       1005                  24.5891
3       1007                  35.7501
4       1009                  15.1614

In [70]:
df.count()

countyfips                 1424
initclaims_rate_regular    1424
dtype: int64

In [67]:
df["countyfips"] = df["countyfips"].apply(lambda x: '{0:0>5}'.format(x))

In [79]:
# Read in data 
data = pd.read_csv('../data/merged_data.csv', dtype={'FIPS': object})
data = data.drop([data.columns[0],"countycode"], axis=1)
data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,...,% Diagnosed Diabetes,% Nonwhite,% households wo car,Number of Hospitals,% disabled,% Without Health Insurance,% Limited English Proficiency,% workers commuting by public transit,% Veterans in Civilian Adult Population,opioid death rate
0,01001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,...,11.4,23.121377,0.056569,1.0,19.3,10.0,0.653564,0.1,12.283,8.992644
1,01003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,...,8.2,13.733800,0.035530,4.0,14.0,13.2,1.424538,0.1,11.938,6.421370
2,01005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,...,15.1,52.618106,0.092373,1.0,22.2,13.5,1.469628,0.3,7.672,20.095655
3,01007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,...,12.2,23.345319,0.059283,1.0,16.7,10.6,0.687135,0.5,7.152,22.321429
4,01009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,7.604563,19.208672,...,12.2,4.494752,0.041373,1.0,14.2,14.1,1.461165,0.1,8.532,8.644537

In [81]:
# Change to a dummy variable
data["Presence of Water Violation (dummy Y/N)"] = pd.get_dummies(data["Presence of Water Violation"])["Yes"]

# Remove ":1"
data["Other Primary Care Provider Ratio (:1)"] = data["Other Primary Care Provider Ratio"].str.split(":").apply(lambda x: x[0])

In [82]:
# Drop original columns
data = data.drop("Presence of Water Violation", axis=1)
data = data.drop("Other Primary Care Provider Ratio", axis=1)

In [84]:
df = df.merge(data, left_on='countyfips',right_on='FIPS')
df.head()

,countyfips,initclaims_rate_regular,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,...,% households wo car,Number of Hospitals,% disabled,% Without Health Insurance,% Limited English Proficiency,% workers commuting by public transit,% Veterans in Civilian Adult Population,opioid death rate,Presence of Water Violation (dummy Y/N),Other Primary Care Provider Ratio (:1)
0,01001,26.0512,01001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,...,0.056569,1.0,19.3,10.0,0.653564,0.1,12.283,8.992644,0,2527
1,01003,30.8648,01003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,...,0.035530,4.0,14.0,13.2,1.424538,0.1,11.938,6.421370,0,1787
2,01005,24.5891,01005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,...,0.092373,1.0,22.2,13.5,1.469628,0.3,7.672,20.095655,0,1914
3,01007,35.7501,01007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,...,0.059283,1.0,16.7,10.6,0.687135,0.5,7.152,22.321429,0,896
4,01009,15.1614,01009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,...,0.041373,1.0,14.2,14.1,1.461165,0.1,8.532,8.644537,0,4449

In [88]:
df = df.drop("countyfips", axis=1)

In [86]:
df["countyfips"].count()

1424

In [90]:
df.to_csv('../data/unemployment_data.csv', index=False)