In [1]:
import pandas as pd

Data from [Economic Tracker](https://tracktherecovery.org) and [the accompanying paper](https://opportunityinsights.org/wp-content/uploads/2020/05/tracker_paper.pdf)

In [3]:
df = pd.read_csv("../data/Womply - County - Weekly.csv", dtype={"countyfips":str, "merchants_all":float})

In [5]:
df = df.filter(["countyfips", "merchants_all"])

In [7]:
df["merchants_all"] = df["merchants_all"]+1

In [11]:
df = df.groupby(['countyfips']).prod().reset_index()

In [12]:
df.head()

  countyfips  merchants_all
0      10001   2.580574e-09
1      10003   3.990007e-08
2      10005   5.363940e-07
3       1001   1.159189e+00
4       1003   1.128051e-07

In [13]:
df.count()

countyfips       1920
merchants_all    1920
dtype: int64

In [14]:
df["countyfips"] = df["countyfips"].apply(lambda x: '{0:0>5}'.format(x))

In [15]:
# Read in data 
data = pd.read_csv('../data/merged_data.csv', dtype={'FIPS': object})
data = data.drop([data.columns[0],"countycode"], axis=1)
data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,...,% Diagnosed Diabetes,% Nonwhite,% households wo car,Number of Hospitals,% disabled,% Without Health Insurance,% Limited English Proficiency,% workers commuting by public transit,% Veterans in Civilian Adult Population,opioid death rate
0,01001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,8.619529,18.081557,...,11.4,23.121377,0.056569,1.0,19.3,10.0,0.653564,0.1,12.283,8.992644
1,01003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,8.345003,17.489033,...,8.2,13.733800,0.035530,4.0,14.0,13.2,1.424538,0.1,11.938,6.421370
2,01005,Alabama,Barbour,472.0,10253.573403,29.591802,5.430279,5.185594,11.474559,21.999985,...,15.1,52.618106,0.092373,1.0,22.2,13.5,1.469628,0.3,7.672,20.095655
3,01007,Alabama,Bibb,471.0,11977.539484,19.439724,4.591482,4.551699,10.308710,19.114200,...,12.2,23.345319,0.059283,1.0,16.7,10.6,0.687135,0.5,7.152,22.321429
4,01009,Alabama,Blount,1085.0,11335.071134,21.745293,4.860808,4.891455,7.604563,19.208672,...,12.2,4.494752,0.041373,1.0,14.2,14.1,1.461165,0.1,8.532,8.644537

In [16]:
# Change to a dummy variable
data["Presence of Water Violation (dummy Y/N)"] = pd.get_dummies(data["Presence of Water Violation"])["Yes"]

# Remove ":1"
data["Other Primary Care Provider Ratio (:1)"] = data["Other Primary Care Provider Ratio"].str.split(":").apply(lambda x: x[0])

In [17]:
# Drop original columns
data = data.drop("Presence of Water Violation", axis=1)
data = data.drop("Other Primary Care Provider Ratio", axis=1)

In [18]:
df = df.merge(data, left_on='countyfips',right_on='FIPS')
df.head()

,countyfips,merchants_all,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,...,% households wo car,Number of Hospitals,% disabled,% Without Health Insurance,% Limited English Proficiency,% workers commuting by public transit,% Veterans in Civilian Adult Population,opioid death rate,Presence of Water Violation (dummy Y/N),Other Primary Care Provider Ratio (:1)
0,10001,2.580574e-09,10001,Delaware,Kent,2425.0,7952.454872,18.955716,4.095031,4.679157,...,0.066361,2.0,14.5,7.0,1.879309,1.0,13.039,32.483898,1,1198
1,10003,3.990007e-08,10003,Delaware,New Castle,6824.0,7701.203301,16.799934,3.772635,4.172026,...,0.069685,10.0,11.0,5.9,2.368350,3.9,7.117,40.047556,0,627
2,10005,5.363940e-07,10005,Delaware,Sussex,3425.0,8084.788322,17.813709,3.721060,4.132735,...,0.039040,4.0,14.1,9.1,2.459576,0.5,10.444,31.837967,1,1390
3,01001,1.159189e+00,01001,Alabama,Autauga,791.0,8128.591190,20.882987,4.743889,4.654031,...,0.056569,1.0,19.3,10.0,0.653564,0.1,12.283,8.992644,0,2527
4,01003,1.128051e-07,01003,Alabama,Baldwin,2967.0,7354.122530,17.509134,4.224519,4.304056,...,0.035530,4.0,14.0,13.2,1.424538,0.1,11.938,6.421370,0,1787

In [19]:
df = df.drop("countyfips", axis=1)

In [21]:
df["FIPS"].count()

1921

In [22]:
df.to_csv('../data/business_closures_data.csv', index=False)