In [1]:
import pandas as pd

Data from [Economic Tracker](https://tracktherecovery.org) and [the accompanying paper](https://opportunityinsights.org/wp-content/uploads/2020/05/tracker_paper.pdf)

In [2]:
df = pd.read_csv("../data/Womply - County - Weekly.csv", dtype={"countyfips":str, "merchants_all":float})

In [3]:
df = df.filter(["countyfips", "merchants_all"])

In [4]:
df["merchants_all"] = df["merchants_all"]+1

In [5]:
df = df.groupby(['countyfips']).prod().reset_index()

In [6]:
df['merchants_all'] = df['merchants_all'] - 1

In [7]:
df.head()

  countyfips  merchants_all
0      10001      -1.000000
1      10003      -1.000000
2      10005      -0.999999
3       1001       0.159189
4       1003      -1.000000

In [8]:
df['countyfips'].count()

1920

In [9]:
# Read in data 
data = pd.read_csv('../data/merged_data.csv', dtype={'FIPS': object})
data = data.drop([data.columns[0],"countycode"], axis=1)
data.head()

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Smokers,...,% Veterans in Civilian Adult Population,opioid death rate,% Below Poverty,Median Household Income,% No College Degree,Unemployment Rate,% Not in Labor Force,% Jobs in Leisure and Hospitality,% Part-time,% Self-Employed
0,1001,Alabama,Autauga,791,8128.59119,20.882987,4.743889,4.654031,8.619529,18.081557,...,12.283,8.992644,12.1,58233,16.107796,2.7,40.454576,14.216260,39.604710,7.283256
1,1003,Alabama,Baldwin,2967,7354.12253,17.509134,4.224519,4.304056,8.345003,17.489033,...,11.938,6.421370,10.1,59871,21.044656,2.7,43.511495,20.823355,40.364194,12.669969
2,1005,Alabama,Barbour,472,10253.57340,29.591802,5.430279,5.185594,11.474559,21.999985,...,7.672,20.095655,27.1,35972,7.609664,3.8,58.630549,9.248695,54.696722,9.675502
3,1007,Alabama,Bibb,471,11977.53948,19.439724,4.591482,4.551699,10.308710,19.114200,...,7.152,22.321429,20.3,47918,6.451014,3.1,53.033744,4.345937,52.112959,7.547395
4,1009,Alabama,Blount,1085,11335.07113,21.745293,4.860808,4.891455,7.604563,19.208672,...,8.532,8.644537,16.3,52902,8.625066,2.7,44.821051,10.342057,47.550659,7.815851

In [10]:
# Change to a dummy variable
data["Presence of Water Violation (dummy Y/N)"] = pd.get_dummies(data["Presence of Water Violation"])["Yes"]

# Remove ":1"
data["Other Primary Care Provider Ratio (:1)"] = data["Other Primary Care Provider Ratio"].str.split(":").apply(lambda x: x[0])

In [11]:
# Drop original columns
data = data.drop("Presence of Water Violation", axis=1)
data = data.drop("Other Primary Care Provider Ratio", axis=1)

In [12]:
df = df.merge(data, left_on='countyfips',right_on='FIPS')
df.head()

,countyfips,merchants_all,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,...,% Below Poverty,Median Household Income,% No College Degree,Unemployment Rate,% Not in Labor Force,% Jobs in Leisure and Hospitality,% Part-time,% Self-Employed,Presence of Water Violation (dummy Y/N),Other Primary Care Provider Ratio (:1)
0,10001,-1.000000,10001,Delaware,Kent,2425,7952.454872,18.955716,4.095031,4.679157,...,12.7,58804,14.733088,4.2,43.431803,12.127023,40.681663,7.656197,1,1198
1,10003,-1.000000,10003,Delaware,New Castle,6824,7701.203301,16.799934,3.772635,4.172026,...,10.4,76076,20.911183,3.7,33.299407,10.139226,38.804566,6.999494,0,627
2,10005,-0.999999,10005,Delaware,Sussex,3425,8084.788322,17.813709,3.721060,4.132735,...,12.1,64839,16.125402,3.8,42.295823,17.822374,39.846865,12.649395,1,1390
3,1001,0.159189,1001,Alabama,Autauga,791,8128.591190,20.882987,4.743889,4.654031,...,12.1,58233,16.107796,2.7,40.454576,14.216260,39.604710,7.283256,0,2527
4,1003,-1.000000,1003,Alabama,Baldwin,2967,7354.122530,17.509134,4.224519,4.304056,...,10.1,59871,21.044656,2.7,43.511495,20.823355,40.364194,12.669969,0,1787

In [13]:
df = df.drop("countyfips", axis=1)

In [14]:
df["FIPS"].count()

1921

In [15]:
df.to_csv('../data/business_closures_data.csv', index=False)